{:foo/a #custom/bar "bar"
 :foo/b #duct/include "duct/config.edn"
 :foo/c #duct/resource "duct/config.edn"
 :foo/d #ig/ref :foo/a
 :foo/e #ig/refset :foo/b
 :foo/f #duct/displace 1
 :foo/g #duct/replace [1 2]}
